body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Wallet Model Style Start */
.gfuDAO {
  background-color: transparent !important;
  display: flex !important;
  flex-direction: column !important;
}
.iypxSt {
  flex-direction: row !important;
  align-items: center !important;
  border-radius: 10px !important;
  padding: 10px 16px !important;
  border-left: 20px solid rgb(199, 199, 199);
  border-right: 20px solid rgb(199, 199, 199);
}
.fqonLZ {
  width: 100px !important;
  height: 85px !important;
  background-color: rgb(199, 199, 199) !important;
  padding: 0px 10px;
}
.kFITWz {
  width: 0px !important;
  display: none;
}
/* Wallet Model Style End */
